{% extends 'base.html' %} {% block content %}
<!--featured post-->
<div class="featured">
    <div class="box-width">
        <div class="featured-wrapper">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for post in posts|slice:"5" %}
                    <div class="swiper-slide">
                        <div class="featured-post">
                            <div class="featured-img">
                                <img src="{{post.thumbnail.url}}"/>
                            </div>
                            <div class="featured-meta">
                                <div class="featured-tag">
                                    {% for i in post.categories.all %}
                                    <a class="" href="/search?q={{i.title}}" rel="tag">
                                        {{i.title}}
                                    </a>
                                    , {% endfor %}
                                </div>
                                <div class="featured-title">
                                    <h2><a href="{% url 'post' post.id post.slug %}">{{post.title}}</a></h2>
                                </div>
                                <div class="featured-snippet">
                                    <p>{{post.post_body|striptags|truncatewords:30| safe}}</p>
                                </div>
                                <div class="featured-time">
                                    <span> <span class="me-author"><i class="fas fa-user"></i> {{post.author.user.username}}</span> , {{post.posted_date}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="swiper-dots">
                <div class="swiper-pagination">
                </div>
            </div>
        </div>
    </div>
</div>
<!--main blog post-->
<div class="outer-wrapper" id="outer-wrapper">
    <div class="box-width">
        <div class="content-wrapper" id="content-wrapper">
            <main class="main-wrapper box-shadow" id="main-wrapper" itemscope="itemscope" itemtype="http://schema.org/Blog" role="main">
                <div class="clear"></div>
                <div class="main section" id="main" name="Blog main posts">
                    <div class="widget Blog" data-version="2" id="Blog1">
                        <div class="index-heading">
                            <span class="blog-info">Blog Post</span>
                            <h2>Our Recent Works and Updates</h2>
                            <p class="blog-text">Write something short about your blog and posts</p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="blog-posts hfeed container index-post-wrapper" itemscope="" itemtype="http://schema.org/BlogPosting">
                            {% for post in posts %}

                            <article class="blog-post hentry index-post blog-post-11">
                                <div class="index-image">
                                    <a class="featured-img post-featured-thumb index-post-thumb" href="{% url 'post' post.id post.slug %}">
                                        <img src="{{post.thumbnail.url}}" title="Blogging is the place to work without invest" />
                                    </a>
                                </div>
                                <div class="index-head box-shadow">
                                    <div class="rating flex-justify">
                                        
                                        <div class="index-label">
                                            {% for i in post.categories.all|slice:"1" %}
                                            <a class="" href="/search?q={{i.title}}" rel="tag">
                                                {{i.title}}
                                            </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="index-meta">
                                        <h2 class="index-title">
                                            <a class="index-title-link" href="{% url 'post' post.id post.slug %}" rel="bookmark">{{post.title}}</a>
                                        </h2>
                                        <div class="post-snippet">
                                            <p>{{post.post_body|striptags|truncatewords:10| safe}}</p>
                                            <div class="flex-justify">
                                                <div class="index-at">
                                                    <span class="post-author-name" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
                                                        <a href="{{post.author.author_facebook_url}}"><span class="post-author-text"> by <b style="color: var(--main-color)">{{post.author.user.username}}</b></span></a>
                                                    </span>
                                                    <span class="meta-post-time-widget meta-post-time-wrapperpost-time ">
                                                        <time class="published post-published-date" datetime="2019-04-18T09:13:00-07:00">- {{post.posted_date}}</time>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            {% endfor %}
                        </div>
                        <div class="blog-pager" id="blog-pager">
                            <ul>
                                <li>
                                    <a>Showing</a>
                                </li>
                                {% if posts.has_previous %}
                                <li class="prev-page">
                                    <a href="?{% if query %}q={{query}}&{% endif %}?page={{posts.previous_page_number}}" class="prev-link">
                                        <i class="fas fa-chevron-left"></i>
                                    </a>
                                </li>

                                {% endif %}

                                <li class="current-page">
                                    <a href="?{% if query %}q={{query}}&{% endif %}?page={{posts.number}}" class="prev-link">1
                                    </a>
                                </li>  
                                <li class="">
                                    <a href="?{% if query %}q={{query}}&{% endif %}page=2" class="prev-link">2
                                    </a>
                                </li>  
                                <li class="">
                                    <a href="?{% if query %}q={{query}}&{% endif %}page=3" class="prev-link">3
                                    </a>
                                </li>    
                                {% if posts.has_next %}                             
                                <li class="next-page">
                                    <a href="?{% if query %}q={{query}}&{% endif %}page={{posts.next_page_number}}" class="prev-link">
                                        <i class="fas fa-chevron-right"></i>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </main>
                        <aside class="sidebar-wrapper">
                <div class="sidebar">
                    <div class="widget">
                        <div class="sidebar-widget-title">
                            <h3>Popular Post</h3>
                        </div>
                            <div class="wideget-content">
                                {% for i in popular %}
                                <div class="popular-post">
                                    <div class="popular-thumb">
                                        <img src="{{i.thumbnail.url}}"/>
                                    </div>
                                    <div class="popular-meta">
                                        <div class="popular-title">
                                            <h2><a href="{% url 'post' i.id i.slug %}">{{i.title}}</a></h2>
                                        </div>
                                        <div class="popular-tags">
                                            {% for cat in i.categories.all %}
                                            <span>{{cat.title}}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                        
                    </div>
                    <div class="widget">
                        <div class="sidebar-widget-title">
                            <h3>Popular category</h3>
                        </div>
                            <div class="wideget-content Label">
                                <div class="cloud-cat cloud-label">
                                    <ul>
                                        {% for i in cats|slice:"10" %}
                                        <li><a href="/search?q={{i.title}}">{{i.title}}</a></li>
                                        {% endfor %}
                                    </ul>
                            </div>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="sidebar-widget-title">
                            <h3>Labels</h3>
                        </div>
                            <div class="wideget-content Label">
                                <div class="cloud-cat list-label">
                                    <ul>
                                        {% for i in cats|slice:"10" %}
                                        <li><a href="/search?q={{i.title}}">{{i.title}}</a></li>
                                        {% endfor %}
                                    </ul>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="widget">
                        <div class="sidebar-widget-title">
                            <h3>Popular Post</h3>
                        </div>
                            <div class="wideget-content">

                            </div>
                        
                    </div>
                    <div class="widget">
                        <div class="sidebar-widget-title">
                            <h3>Popular Post</h3>
                        </div>
                            <div class="wideget-content">

                            </div>
                        </div> -->
                    


                    <!--widget ends-->

                </div>
            </aside>
        </div>
    </div>
</div>

{% endblock %}
